@import "../../assets/styles/variables.scss";

#post {
  margin-top: 32px;
}
.text {
  max-width: 594px;
}

.subtitle-bold {
  margin: 0;
}

.container-post {
  padding-left: 70px;
}

.chip-sm {
  margin-right: 90px;
}