$primary: #000000;
$secundary: #FF7C7C;
$dark: #21243D;
$light: #8695A4;
$light-blue: #EDF7FA;
$light-pink: #FF7999;
$white: #FFFFFF;
$black: #000000;

$font-heebo: 'Heebo';
$font-size-44: 44px;
$font-size-26: 26px;
$font-size-24: 24px;
$font-size-22: 22px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-16: 14px;
